[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C =NP
ST = Bagmati
L = New Road, Kathmandu
O = Unlimited Technology
OU = Developer Unit
CN = www.localhost.com:5000
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.localhost.com:5000
DNS.2 = localhost.com:5000
DNS.3 = localhost:5000